<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Input Forms</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Nombre</ion-label>
      <ion-input [(ngModel)]="nombre" clearInput></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input [(ngModel)]="email" type="email" clearInput></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Telephone input</ion-label>
      <ion-input [(ngModel)]="telephone" type="tel" clearInput></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Birthdate</ion-label>
      <ion-input [(ngModel)]="birthdate" type="date" (ionChange)="calculateAge()" clearInput></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Edad</ion-label>
      <ion-text>{{ edad }}</ion-text>
    </ion-item>
  </ion-list>
</ion-content>