<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Componentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-avatar slot = "start">
        <img alt="martillo" src="https://png.pngtree.com/png-clipart/20210108/ourlarge/pngtree-hammer-cartoon-style-hammer-clipart-png-image_2678399.jpg" />
      </ion-avatar>
      <ion-label>Input Forms</ion-label>
    </ion-item>
  </ion-list>
</ion-content>